# Cleankr Admin Panel Environment Variables
# Firebase Project ID: cleankr-724ce
# Target Domain: https://admin.cleankr.co.in

VITE_FIREBASE_API_KEY="AIzaSyAhP6nzDep9O-1ib_oapzA78uu4W8RZi2g"
VITE_FIREBASE_AUTH_DOMAIN="cleankr-724ce.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="cleankr-724ce"
VITE_FIREBASE_STORAGE_BUCKET="cleankr-724ce.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="19721903127"
VITE_FIREBASE_APP_ID="1:19721903127:web:f31407490e42cf74701052"

# Host URL
APP_URL="https://admin.cleankr.co.in"
